
/* CSS FROM MDB-BOOSTRAP PAGE */

.active-green input[type="text"]:focus:not([readonly]){
    border: 1px solid #80C565;
    box-shadow: 0 0 0 1px #80C565;
}

.notActive input[type="text"] {
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px #fff
}