/*CSS FROM MDBREACT PAGE*/

.MDBBtn {
    background-color: #80C565;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.MDBBtn:hover {
background-color: #3e8e41
}